In [10]:
#Cargar las siguientes librerias para evitar errores
import time
import pandas as pd
import numpy as np

### Primera propuesta utilizando Python

In [6]:
#Se carga los datos del archivo Txt utilizando python
with open('costos.txt') as l:
    libros_vendidos = l.read().split('\n')

In [7]:
inicio = time.time()#comando para iniciar el cronometro
Regalo = []#lista de las ventas que aplican

for precio in libros_vendidos:
    if int(precio) < 25:#operacion para conocer las ventas de menos de $25 dolares
        Regalo.append(precio)#append agrega los "preciosa" aceptados a "Regalo"
inversion = sum(map(int,Regalo))#map ejecuta una función específica para cada elemento de la lista.

print('Inversion: ',inversion)
print('Duracion: {} segundos'.format(time.time() - inicio))

Inversion:  30338353
Duracion: 55.8332462310791 segundos

### Segunda propuesta utilizando pandas

In [8]:
#header funciona para hacer que no exista nombres en las columnas
#usecols funciona para seleccionar una columna
#names funciona para nombrar una columan seleccionada por usecols
libros_vendidos = pd.read_csv("costos.txt", header=None, usecols=[0], names=['Inversión'])
libros_vendidos.head()

   Inversión
0          8
1         84
2         42
3         65
4         74

In [9]:
inicio = time.time()

lista = libros_vendidos['Inversión'] <= 25#operacion para conocer las ventas de menos de $25 dolares de la lista
regalo = libros_vendidos[lista]#selecciona solamente los libros acceptados en la operación anterios
inversion = np.sum(regalo)#sum suma los datos de la lista "regalo"

print(inversion)
print('Duracion: {} segundos'.format(time.time() - inicio))

Inversión    32869928
dtype: int64
Duracion: 1.708974838256836 segundos