Optimizacion de Codigo, Ejemplo 1: Identificacion de Ventas en un periodo
Generar metricas de desempeño es una tarea muy frecuente en cualquier ambito de negocio, el siguiente codigo fue escrito para identificar qué libros fueron vendidos a partir de un listado especifico:

In [2]:
#Cargar las siguientes librerias para evitar errores
import time
import pandas as pd
import numpy as np

In [40]:
#Se carga los datos de los dos archivos Txt utilizando python
with open('libros_24_meses.txt') as l:
    periodo24_ventas_libros = l.read().split('\n')
    
with open('catalogo_libros.txt') as f:
    catalogo_libros = f.read().split('\n')

In [28]:
inicio = time.time()#comando para iniciar el cronometro
libros_vendidos = []#lista de los libros vendidos

for libro in periodo24_ventas_libros:
    if libro in catalogo_libros:
        libros_vendidos.append(libro)#append agrega los "libros" aceptados a "libros_vendidos"

print(len(libros_vendidos))
print('Duracion: {} segundos'.format(time.time() - inicio))

96
Duracion: 42.36082148551941 segundos

Propuesta de optimizacion 1: utilizar operaciones con vectores en lugar de estructuras de control repetitivas cuando esto sea posible; para este escenario se propone evaluar el uso del metodo intersect1d de la libreria numpy para que nos permita obtener la interseccion de ambos dataset:

In [41]:
inicio = time.time()

libros_vendidos = np.intersect1d(periodo24_ventas_libros, catalogo_libros)
#intersect1d encuentra y muestra los valore iguales de las dos bases de datos

print(len(libros_vendidos))
print('Duracion: {} segundos'.format(time.time() - inicio))

96
Duracion: 0.08294677734375 segundos

Asignacion 2:Otro enfoque para optimizar el codigo fuente puede ser...

In [42]:
#header funciona para hacer que no exista nombres en las columnas
#usecols funciona para seleccionar una columna
#names funciona para nombrar una columan seleccionada por usecols
periodo24_ventas_libros = pd.read_csv("libros_24_meses.txt", header=None, usecols=[0], names=['col'])
catalogo_libros = pd.read_csv("catalogo_libros.txt", header=None, usecols=[0], names=['col'])

periodo24_ventas_libros.head()#Para mostrar los cambios hechos a las bases de datos

       col
0  1262771
1  9011996
2  2007022
3  9389522
4  8181760

In [43]:
inicio = time.time()

libros_vendidos = pd.merge(periodo24_ventas_libros, catalogo_libros, on='col')
#merge compara los datos iguales entre dos dataframes

print(len(libros_vendidos))
print('Duracion: {} segundos'.format(time.time() - inicio))

96
Duracion: 0.04297232627868652 segundos