In [1]:
#Cargar las siguientes librerias para evitar errores
import time
import pandas as pd
import numpy as np

In [2]:
#header funciona para hacer que no exista nombres en las columnas
#usecols funciona para seleccionar una columna
#names funciona para nombrar una columan seleccionada por usecols

libros_vendidos = pd.read_csv("costos.txt", header=None, usecols=[0], names=['col'])
libros_vendidos.head()

   col
0    8
1   84
2   42
3   65
4   74

### Sin IVA

In [5]:
inicio = time.time()

lista = libros_vendidos['col'] < 25#operacion para conocer las ventas de menos de $25 dolares de la lista
regalo = libros_vendidos[lista]#selecciona solamente los libros acceptados en la operaciÃ³n anterios
inversion = np.sum(regalo)#sum suma los datos de la lista "regalo"

len(regalo)

2427235

### Con IVA

In [3]:
inicio = time.time()

lista = libros_vendidos['col'] < 25
regalo = libros_vendidos[lista]

sin_IVA = np.sum(regalo)
con_IVA = sin_IVA * 1.13
diferencia = con_IVA - sin_IVA

print("Inversion sin IVA: {} ".format(sin_IVA.col),"\n")
print("Inversion con IVA: {:1.2f} ".format(con_IVA.col),"\n")
print("La diferencia es: {:1.2f} ".format(diferencia.col),"\n")
print('Duracion: {} segundos'.format(time.time() - inicio))

Inversion sin IVA: 30338353

Inversion con IVA: 34282338.89

La diferencia es: 3943985.89

Duracion: 0.5416622161865234 segundos

In [4]:
regalo = libros_vendidos[lista]
len(regalo)

2427235